[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
django-filter = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
stripe = "*"
drf-spectacular = "*"
psycopg = {extras = ["binary"], version = "*"}
gunicorn = "*"
redis = "*"
celery = "*"
django-cors-headers = "*"
dj-database-url = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.13"
